.place__image {
    width: 460px;
    grid-area: place__image;
}

@media screen and (max-width:1267px) {
    .place__image {
        width: 440px;
    }
}

@media screen and (max-width:1023px) {
    .place__image {
        width: 340px;
    }
}


@media screen and (max-width:767px) {
    .place__image {
        width: 100%;
    }
}