.intro__list {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-style: 12px;
    line-height: 18px;
}