.lead__title {
    padding: 0;
    margin: 0 auto;
    padding-bottom: 32px;
    width: 720px;
    color: #fff;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}

@media screen and (max-width:767px){
    .lead__title {
        width: 288px;
        line-height: 44px;
        font-size: 40px;
        padding-bottom: 16px;
    }
}