.cover {
    padding: 0;
    margin: 0 auto;
    position: relative;
    width: 90%;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: grid;
}


.cover::before {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #2A2C2F;
    opacity: 0.3;

}

.cover:hover::before {
    transition: .8s;
    opacity: 0.8;
}

@media screen and (max-width:1279px) {  
    .cover {
        width: 100%;
    }
}
