.lead__caption {
    color: #fff;
    margin: 0;
    margin-top: 8px;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media screen and (max-width:1023px) {
    .lead__caption {
        margin-left: 16px;
    }
    
}