.cover__title {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    max-width: 560px;
    min-width: 288px; 
    color: #fff;
    padding: 0px 0 32px;
    z-index: 10;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
}

@media screen and (max-width:767px) {
    .cover__title {
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
    }
}