.place {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: (2,100%);
    grid-template-rows: (3,100%);
    gap: 40px;
    grid-template-areas: 
    "place__title place__website"
    "place__image place__paragraphs";
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width:1023px) {
    .place {
        margin-bottom: 73px;
    }
    
}

@media screen and (max-width:767px) {
    .place {
        width: 100%;
        margin-bottom: 50px;
        display: grid;
        grid-template-areas: 
        "place__title"
        "place__website"
        "place__image"
        "place__paragraphs";
    }
    
}