.place__website {
    width: 90%;
    grid-area: place__website;
    align-self: flex-end;
}

@media screen and (max-width:767px) {
    .place__website {
        width: 288px;
        margin: 0 auto;
    }
}
